.App {
  font-family: Cambria;
  /* text-align: center; */
}

table {
  border: 2px solid;
  width: 800px;
  /* Removed height as height is variable. */
}

.row {
  width: 800px;
  height: 30px;
}

.login {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  display: inline-block;
  /*   float: left; */
  clear: left;
  width: 100px;
  text-align: left;
}

.space-below {
  margin-bottom: 10px;
}


input {
  margin-bottom: 10px;
}

.break-after-characters {
  word-wrap: break-word;
  max-width: 800px;
}

button {
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  /* Round the corners */
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

/* Sidebar settings */

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 10%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 15px;

  background-color: #F0F8FF;

  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  text-decoration: none;
  color: black
}

.sidebar a {
  display: block;
  /* or inline-block */
  text-decoration: none;
  color: black;
}

.sidebar span,
a:hover {
  color: red;
}

.main-content {
  flex: 1;
  margin-left: 15%;
}